// Breakpoints
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: 1200px) {
    @content;
  }
}

// Flexbox
@mixin flexbox($is-column, $align: null, $justify: null) {
  display: flex;

  @if $is-column {
    flex-direction: column;
  }

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }
}

// List reset
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
